# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db

# Build output
bin/
obj/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle

# Material Design & NuGet
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.assets.json
*.nuspec

# Debugging
*.tlog
*.log
*.cache
*.csproj.user
*.ilk
*.meta
*.mdb

# WPF Designer & Resharper
GeneratedFiles/
_ReSharper*/ 
*.DotSettings.user
*.resharper

# Rider / JetBrains
.idea/
*.iml

# Misc
*.tmp
*.bak
*.swp
